body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: color-grey-2;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
  }

  body label {
    font-weight: 600;
  }

  body .form-control:focus {
    border: 1px solid rgb(82, 82, 82);
    box-shadow: 0 0 0 0.2rem rgba(60, 66, 71, 0.25);
  }

  body .error {
    font-size: 1.1rem;
    font-weight: 600;
    color: red;
  }

/* HOMEPAGE */
/* .............................................................................................................. */
  body .index-content .index-left {
    position: relative;
    background: #212124;
    height: 100vh;
  }

  body .index-content .index-left span {
    font-size: 7rem;
    margin-top: 20px;
    font-weight: 800;
    color: #d7d7d7;
  }

  body .index-content .index-left .index-img-left:hover a {
    transform: scaleY(-150px);
  }

  body .index-content .index-left .index-img-left a {
    max-width: 400px;
    position: absolute;
    top:  35%;
    left: 23%;
    padding: 20px;
    background: #f5f5f7;
    border-radius: 30px;
    box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(190, 189, 189, 0.5);
    transition: all 0.5s;
  }

  body .index-content .index-left .index-img-left a:hover {
    transform: translateY(-50px);
  }

  body .index-content .index-right {
    position: relative;
    background: #f5f5f7;
    height: 100vh;
  }

  body .index-content .index-right span {
    font-size: 7rem;
    margin-top: 20px;
    font-weight: 800;
    color: #212124;
  }

  body .index-content .index-right .index-img-right:hover a {
    transform: scaleY(-100px);
  }

  body .index-content .index-right .index-img-right a {
    max-width: 400px;
    position: absolute;
    top: 35%;
    left: 23%;
    padding: 20px;
    background: #212124;
    border-radius: 30px;
    box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(6, 6, 6, 0.5);
    transition: all 0.5s;
  }

  body .index-content .index-right .index-img-right a:hover {
    transform: translateY(-50px);
  }
  
  @media screen and (max-width: 992px) {
    body .index-content .index-right span {
      font-size: 5rem;
    }

    body .index-content .index-left .index-img-left a {
      max-width: 300px;
      top: 30%;
      left: 20%;
    }

    body .index-content .index-right .index-img-right a {
      max-width: 300px;
      top: 30%;
      left: 20%;
    }

    body .index-content .index-left span {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 768px) {
    body .index-content .index-left {
      height: 80vh;
    }

    body .index-content .index-left span {
      font-size: 4rem;
    }

    body .index-content .index-left .index-img-left a {
      max-width: 300px;
      top: 32%;
      left: 30%;
    }

    body .index-content .index-right span {
      font-size: 4rem;
    }

    body .index-content .index-right {
      height: 80vh;
    }

    body .index-content .index-right .index-img-right a {
      max-width: 300px;
      top: 32%;
      left: 30%;
    }
  }
  @media screen and (max-width: 576px) {
    body .index-content .index-left {
      height: 40vh;
    }

    body .index-content .index-left span {
      font-size: 2rem;
    }

    body .index-content .index-left .index-img-left a {
      max-width: 150px;
      top: 32%;
      left: 30%;
    }

    body .index-content .index-right {
      height: 40vh;
    }

    body .index-content .index-right span {
      font-size: 2rem;
    }
    
    body .index-content .index-right .index-img-right a {
      max-width: 150px;
      top: 32%;
      left: 30%;
    }
  }


/* .............................................................................................................. */
/* ADMIN PAGE */
/* .............................................................................................................. */

header {
  background-color:rgb(4 117 30);
}

header .navbar-brand {
  max-width: 40px;
}

header .navbar-nav .nav-item {
  padding: 0 20px;
}

header .navbar-nav .nav-item .nav-link {
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: #d7d7d7;
}

header .navbar-nav .nav-item .select-bar {
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #d7d7d7;
  background: #212124;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center !important;
}

header .navbar-toggler {
  background: white;
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
}

header .navbar-toggler .navbar-toggler-icon {
  background: #242421;
  height: 2px;
  width: 20px;
  margin: 2px 0;
}

header .navbar .form-inline input {
  border: none;
}

header .navbar .form-inline button:hover i {
  color: black;
}

header .navbar .form-inline button i {
  position: relative;
  z-index: 2;
  color: white;
}

.table .thead-dark th {
  color: rgb(255, 255, 255);
  background-color: #3f9422;
  border-color: rgb(34 210 74);
}

.side-navbar {
  position: fixed;
  top: 0;
  right: -800;
  width: 800px;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  color: #d7d7d7;
  overflow: auto;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.side-navbar .side-nav-header {
  position: relative;
}

.side-navbar .side-nav-header button {
  margin-left: 85%;
  margin-top: 5%;
  font-size: 1.5rem;
  font-weight: 400;
  color: #d7d7d7;
  background: none;
  border: none;
  border-radius: none;
  padding: 0 0;
}

.side-navbar .side-nav-header .title h2 {
  font-size: 2rem;
  margin: 5% 0;
}

.side-navbar .side-nav-body .empty-cart {
  width: 70%;
  opacity: 0.5;
  font-size: 4rem;
  font-weight: 600;
  color: #f5f5f7;
}

.side-navbar .side-nav-body .cart-items {
  width: 90%;
  margin: 0% 5%;
  height: 50%;
  top: 10%;
  flex-direction: column;
}

.side-navbar .side-nav-body .cart-items span {
  font-size: 2rem;
  font-weight: 600;
  color: #f5f5f7;
}

.side-navbar .side-nav-body .cart-items .img-cart {
  border-radius: 10px;
}

.side-navbar .side-nav-footer strong {
  margin-left: 35%;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f5f5f7;
}

.side-navbar .side-nav-footer .footer-button {
  margin-top: 30px;
}

.side-navbar .side-nav-footer .footer-button button {
  transition: 0.3s;
  margin: 0 10px;
  background: none;
  border: 2px white solid;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #f5f5f7;
}

.side-navbar .side-nav-footer .footer-button button:hover {
  background: white;
  border: 2px white solid;
  color: #212124;
}

.phone_store{
  margin-top: 22px;
  font-size: 25px;
  color: #f5f5f7;
  font-weight: bolder;
}

@media screen and (max-width: 992px) {
  header .side-navbar {
    width: 600px;
  }
  header .side-navbar .side-nav-header .title h2 {
    font-size: 1.5rem;
  }
  header .side-navbar .side-nav-body .empty-cart {
    font-size: 3rem;
  }
  header .side-navbar .side-nav-footer strong {
    margin-left: 35%;
  }
  header .side-navbar .side-nav-footer .footer-button button {
    padding: 5px 10px;
    font-size: 16px;
  }
  /* .cart-items .cart-item {
    align-items: none;
  } */
}

    

@media screen and (max-width: 992px) {
  header .side-navbar {
    width: 600px;
  }
  header .side-navbar .side-nav-header .title h2 {
    font-size: 1.5rem;
  }
  header .side-navbar .side-nav-body .empty-cart {
    font-size: 3rem;
  }
  header .side-navbar .side-nav-footer strong {
    margin-left: 35%;
  }
  header .side-navbar .side-nav-footer .footer-button button {
    padding: 5px 10px;
    font-size: 16px;
  }
  }
  /* .cart-items .cart-item {
    align-items: none;
  } */

@media screen and (max-width: 768px) {
  header .side-navbar {
    width: 500px;
  }
  header .side-navbar .side-nav-header .title h2 {
    font-size: 1.2rem;
  }
  header .side-navbar .side-nav-body {
    margin: 1rem 0;
  }
  header .side-navbar .side-nav-body .empty-cart {
    font-size: 2.5rem;
  }
  header .side-navbar .side-nav-body .cart-items {
    width: 95%;
  }
  header .side-navbar .side-nav-footer strong {
    margin-top: 5%;
    margin-left: 30%;
  }
  header .side-navbar .side-nav-footer .footer-button button {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  /* .cart-items .cart-item {
    width: 100%;
  }
  .cart-items .cart-item th,
.cart-items .cart-item td {
    font-size: 16px;
  } */
}
@media screen and (max-width: 576px) {
  header .side-navbar {
    width: 100vw;
  }
  header .side-navbar .side-nav-header .title h2 {
    font-size: 1.1rem;
  }
  header .side-navbar .side-nav-body {
    margin: 2rem 0;
  }
  header .side-navbar .side-nav-body .empty-cart {
    font-size: 2.2rem;
  }
  header .side-navbar .side-nav-body .cart-items {
    width: 95%;
  }
  header .side-navbar .side-nav-body .cart-items button {
    font-size: 1.2rem;
  }
  header .side-navbar .side-nav-body .cart-items .quantity button {
    margin: 0;
  }
  header .side-navbar .side-nav-footer strong {
    margin-top: 5%;
    margin-left: 30%;
  }
  header .side-navbar .side-nav-footer .footer-button button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  /* .cart-items .cart-item {
    width: 100%;
  }
  .cart-items .cart-item th,
.cart-items .cart-item td {
    font-size: 16px;
  } */
}

.infor .nav-tabs .nav-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #247508;
}
.infor .nav-tabs .nav-link.active {
  background:#247508;
  color: white;
  opacity: 0.8;
}
.infor tbody {
  font-size: 1.2rem;
  font-weight: 600;
  color:#247508;
}
.infor tbody .product-img {
  width: 150px;
}
.infor tbody .product-img img {
  margin-left: 50%;
}
.infor tbody td,
.infor tbody th {
  vertical-align: baseline;
}
.infor tbody td .phone-name,
.infor tbody th .phone-name {
  transition: all 0.3s;
}
.infor tbody td .phone-name:hover,
.infor tbody th .phone-name:hover {
  color: rgb(12, 6, 199);
  opacity: 0.8;
  cursor: pointer;
}

.phone-infor-detail {
  margin-top: 5%;
}
.phone-infor-detail .col-7 {
  padding: 0 3%;
  position: relative;
}
.phone-infor-detail .col-7 .title {
  font-size: 5.5rem;
  font-weight: 700;
  color: #212124;
  text-transform: uppercase;
}
.phone-infor-detail .col-7 h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #212124;
  margin: 3% 0;
  text-transform: capitalize;
}
.phone-infor-detail .col-7 p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #212124;
}
.phone-infor-detail .col-7 span {
  font-size: 1.1rem;
  font-weight: 400;
  color: #212124;
}

.phone-infor-detail .modal-content .modal-title {
  font-size: 2rem;
  font-weight: 600;
  color: #212124;
}

@media screen and (max-width: 768px) {
  .infor tbody .product-img img {
    margin-left: 25%;
  }
  .phone-infor-detail .col-7 .title {
    font-size: 4rem;
  }
  .phone-infor-detail .col-7 h2 {
    font-size: 1.5rem;
  }
  .phone-infor-detail .col-7 p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  .phone-infor-detail .col-7 span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px){
  .phone_store {
    margin-top: 22px;
    font-size: 15px;
    color: #f5f5f7;
    font-weight: bolder;
    padding-right: 20px;
}
}

/* .............................................................................................................. */
